/PKG-INFO
/PKG-INFO~
/build/lib.linux-x86_64-2.7/webhoseio/__init__.py
/dist/webhoseio-0.1-py2-none-any.whl
/dist/webhoseio-0.1-py2.7.egg
/dist/webhoseio-0.1.tar.gz
/webhoseio.egg-info/PKG-INFO
/webhoseio.egg-info/SOURCES.txt
/webhoseio.egg-info/dependency_links.txt
/webhoseio.egg-info/requires.txt
/webhoseio.egg-info/top_level.txt
*.pyc